 body {font-size:16px;}
#visual-portal-wrapper{padding-left:0;}
#content-header,#portal-footer-wrapper{display:none;}
table.inner {margin-bottom:0}
.outer tr:last-child  td:last-child {border-top-width:1px;}

@media print {
 .printthis,.hiddenprint {display:none;}

 
    }
@page {margin:0;size:auto}    