#content-header,#portal-footer-wrapper{display:none;}
table.inner {margin-bottom:0}
@media print {
 .printthis,.hiddenprint {display:none;}
 body {font-size:10px;}
    }
@page {margin:0;size:auto}    