#visual-portal-wrapper{padding-left:0;font-size:14px;}
#content-header,#portal-footer-wrapper{display:none;}
table.inner {margin-bottom:0}
.outer tr:last-child  td:last-child {border-top-width:1px;}
.theader span {font-size:14px;display:inline-block;}
@media print {
.hidden-print {display:none;}
@page {margin:0;size:auto}
}

.row .p-checkbox span,.row .checkbox span {/* <-- style the artificial checkbox */
  height: 16px;
  width: 16px;
  margin-top:3px;
  border: none;
  display: inline-block;
  position: relative;
  cursor:pointer;
}
.table-condensed > tbody > tr > td {padding:3px;}
.report .table-condensed > tbody > tr > td {line-height:1.1;}
.report > .table > tbody > tr > td.sign {text-align:center;}
.theader .col-md-1 span {
  height: 24px;
  width: 32px;
  margin-top:3px;
  border: none;
  display: inline-block;
  position: relative;
  cursor:pointer;
}
span.yue1::before {
  content: '1月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue2::before {
  content: '2月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue3::before {
  content: '3月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue4::before {
  content: '4月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue5::before {
  content: '5月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue6::before {
  content: '6月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue7::before {
  content: '7月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue8::before {
  content: '8月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue9::before {
  content: '9月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue10::before {
  content: '10月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue11::before {
  content: '11月';
  position: absolute;
  top: 2px;
  left: 0;	
}
span.yue12::before {
  content: '12月';
  position: absolute;
  top: 2px;
  left: 0;	
}
   