#visual-portal-wrapper{padding-left:0;font-size:14px;}
#content-header,#portal-footer-wrapper{display:none;}
table.inner {margin-bottom:0}
.outer tr:last-child  td:last-child {border-top-width:1px;}
.theader span {font-size:14px;display:inline-block;}
@media print {
.hidden-print {display:none;}
@page {margin:0;size:auto}
   .table-area > .row > div {
      display: inline-block;  
      border: solid 1px #000;
      margin: 0.2cm;
    }
    .table-area > .row {
      display: block;
    }
  }

.table-area {
    display: table;
    border-spacing: 2px;
    width:100%;
}
.table-area > .row {
    display: table-row;
}
.table-area > .row > div {
    display: table-cell;
    border: solid 1px #000;
    border-width: 0 1px 0 0;
    padding: 5px;
    text-align:center;
}
.table-area > .row > div:last-child {
border-right-width:0;
}
.row .p-checkbox span,.row .checkbox span {/* <-- style the artificial checkbox */
  height: 16px;
  width: 16px;
  margin-top:3px;
  border: none;
  display: inline-block;
  position: relative;
  cursor:pointer;
}
.table-condensed > tbody > tr > td {padding:3px;}
.report .table-condensed > tbody > tr > td {line-height:1.1;}
.report > .table > tbody > tr > td.sign {text-align:center;}
.theader .col-md-1 span {
	  height: 16px;
  width: 16px;
  margin-top:3px;
  border: none;
  display: inline-block;
  position: relative;
  cursor:pointer;
	  content: '\2714';
  position: absolute;
  top: -5px;
  left: 0;}
   